* {
    box-sizing: border-box;
}

*:last-child {
    margin-bottom: 0px!important;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e6e6e6;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b7b7b7;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b7b7b7;
}

.no-wrap {
    white-space: nowrap;
}

.mcb-column-inner {
    margin: 0px !important;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1em;
    line-height: 1.2;
}

img,svg {
    display: block;
}

a {
    transition: all .3s;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

b, strong, dt{
    font-family: 'AvenirLTStd-Black';
    font-weight: 400;
}

.footer-copy-center #Footer .footer_copy #back_to_top, #back_to_top.footer_button.sticky {
    bottom: 25px !important;
    right: 10px !important;
    box-sizing: inherit !important;
    margin: 0px!important;
    position: fixed;
}

#back_to_top.footer_button.sticky:hover {
    background-color: var(--color-text-2) !important;
    color: var(--color-bg)!important;
}

body .fancybox__container button {
    background-color: var(--color-hover) !important;
    color: var(--color-text-2);
}

body .fancybox__container button:hover {
    background-color: var(--color-text-main) !important;
    color: var(--color-bg);
}

@media (max-width: 1367.5px) {
    #back_to_top.footer_button.sticky {
        transform: scale(0.9);
    }
}

/*#back_to_top.footer_button.sticky .icon-up-open-big {
    color: #fff;
}*/

#Side_slide #menu ul li a{
    margin-right: 0px!important;
}

/*Loadding Page*/
.kenw-loadding{
    background: var(--color-bg);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    transition: all 0.3s;
}

.loadding-gif{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loadding-gif img{
    width: 200px;
    height: auto;
    animation: zoom 1.5s infinite;
    display: block;
}

@keyframes zoom {
  0% {transform: scale(1);}
  50% {transform: scale(1.3)}
  100% {transform: scale(1)}
}

@media (max-width: 767.5px) {
    .loadding-gif img{
        width: 100px;
    }

    .footer-copy-center #Footer .footer_copy #back_to_top, #back_to_top.footer_button.sticky {
        bottom: 65px !important;
    }
}

.fixed-socials {
/*    display: none;*/
    position: fixed;
    right: 0px;
    top: 48%;
    z-index: 99;
    transform: translateY(-50%);
    transition: all 0.3s;
}

.fixed-socials ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: safe center;
    align-items: flex-end;
}

.fixed-socials ul li {
    margin-bottom: 8px;
}

.fixed-socials ul li a{
    width: 61px;
    height: 61px;
    background-image: url('../images/bg-socials-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--color-hover-social);
    border-radius: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    transition: all 0.3s;
}

.fixed-socials ul li a img, .fixed-socials ul li a svg {
    display: block;
}

.fixed-socials ul li a img.hover-mob {
    display: none;
}

.fixed-socials ul li a:hover {
    background-color: var(--color-hover-social);
    background-image: unset;
}

.fixed-socials ul li a svg path {
    transition: all 0.3s;
}

.fixed-socials ul li a:hover svg path {
    fill: var(--color-bg);
}   

@media (max-width: 767.5px){
    .fixed-socials {
       /* display: block;*/
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--color-bg);
        top: auto;
        padding: 0px 0px;
        transform: none;
        box-shadow: 0 0 10px 2px rgb(0 0 0 / 50%);
    }

    .fixed-socials ul {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .fixed-socials ul li {
        margin-bottom: 0px;
        width: 25%;
        position: relative;
        padding: 15px 0;
    }

    .fixed-socials ul li::before {
        content: '';
        width: 2px;
        height: 33px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(100%, -50%);
        background: var(--color-hover-social);
        transition: all 0.3s;
    }

    /* .fixed-socials ul li a:hover svg path{
        fill: var(--color-hover);
    } */

    .fixed-socials ul li a {
        width: 35px !important;
        height: 35px;
        position: relative;
        background: none;
        margin: 0 auto;
    }

    .fixed-socials ul li a:hover {
        background-color: transparent;
    }

    .fixed-socials ul li a::before,
    .fixed-socials ul li a::after {
        display: none;
    }

    .fixed-socials ul li a img, .fixed-socials ul li a svg {
        max-width: 100%;
        max-height: 100%;
    }

    .fixed-socials ul li a:hover img.desk {
        display: none;
    }

    .fixed-socials ul li a:hover img.hover-mob {
        display: block !important;
        max-width: 100%;
        max-height: 100%;
    }
}

/*Disable Rcaptcha*/
.grecaptcha-badge{
    display: none!important;
}

/*Home Style*/

body {
    --color-text-title: #fff;
    --color-bg: #fff;
    --color-hover-social: #56cbfd;
    --container: 1190px;
    --font-lobster: 'Lobster';
    --font-montserrat: 'Montserrat';
    --pd-left-container: 72px;
    --pd-right-container: 72px;
    --pd-space-container: calc(100% - (var(--container))/2)
}

body.mobile-side-slide{
    left: 0!important;
    overflow-x: hidden;
}

#Header .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%!important;
    max-width: 100% !important;
    padding-left: var(--pd-left-container) !important;
    padding-right: var(--pd-right-container) !important;
}

#Header {
    padding-top: 0px;
}

#Top_bar {
    padding: 30px 0;
}

#Top_bar.is-sticky {
    padding: 20px 0;
}

#Top_bar .column {
    align-items: center;
    width: 100%;
    margin: 0 !important;
} 

#Top_bar .top_bar_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
}

#Top_bar .top_bar_left #menu{
    background: transparent;
}

.ab-show #Top_bar {
    top: 0px!important;
}

body #Top_bar.is-sticky{
    top: 0px!important;
    height: auto;
    opacity: 1;
    z-index: 999;
}

#Top_bar .top_bar_left::after,
#Top_bar .top_bar_left::before {
    display: none;
}

#Top_bar #logo {
    height: 81px !important;
    line-height: 1 !important;
    transition: all 0.3s !important;
}

#Top_bar #logo img.logo-main {
    display: block !important;
}

#Top_bar #logo img:not(.logo-main) {
    display: none!important;
}

#Top_bar .menu {
    display: flex;
    align-items: center;
    margin-right: -32px;
    transition: all 0.3s;
}

#Top_bar .menu > li > a {
    position: relative;
    font-size: 22px;
    line-height: 1;
    font-family: var(--font-montserrat);
    color: var(--color-text-title) !important;
    padding: 15px 0;
    margin-top: -8px;
}

#Top_bar .menu > li > a.menu-toggle {
    padding: 0 !important;
    margin-top: 0 !important;
}

#menu-main-menu > .menu-item > a::before {
    position: absolute;
    content: '';
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: #57c9fb;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
}

#Top_bar.is-sticky #menu-main-menu > .menu-item > a::before {
    width: 65px;
    height: 65px;
}

#menu-main-menu > .menu-item > a:hover:before,
#menu-main-menu > .menu-item.current-menu-item > a:before,
#menu-main-menu > .menu-item.current-menu-ancestor > a:before {
    opacity: 0.2;
    visibility: visible;
}


#Top_bar .menu > li > a span:not(.description) {
    padding: 0 31px;
    line-height: 1!important;
    border: none;
    transition: all 0.3s;
}

/* general */
.one.column {
    width: 100%;
    margin: 0;
}

.section_wrapper, .container {
    max-width: var(--container);
}

/* banner */
.banner-item {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.banner-item .banner-content {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -56%);
    width: 100%;
    text-align: center;
}

.banner-item .banner-content h4 {
    color: var(--color-text-title);
    font-size: 80px;
    font-family: var(--font-lobster);
    font-weight: 400;
    text-transform:  inherit;
    line-height: 1;
    margin-bottom: 42px;
}

.banner-item .banner-content h5 {
    font-size: 33px;
    font-family: var(--font-montserrat);
    color: var(--color-text-title);
    font-weight: 600;
    line-height: 1;
}

.banner-item .banner-img img {
    opacity: 0;
}

.banner-item .banner-img img.mob {
    display: none;
}

/* Introduce */
#section-intro {
    background-image: url('../images/bg-intro.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 0 125px;
}

#section-intro .section_wrapper {
    max-width: 100% !important;
    padding-left: var(--pd-left-container);
    padding-right: var(--pd-right-container);
}

#section-intro .intro-wrap {
    display: flex;

}

#section-intro .box-left {
    width: 26.5%;
}

#section-intro .box-right {
    width: 74%;
    padding-right: calc((100% - (var(--container)))/2);
    margin-top: -12px;
}

#section-intro .box-left h1 {
    position: relative;
    font-size: 23px;
    font-family: var(--font-montserrat);
    font-weight: 400;
    color: var(--color-hover-social);
    text-transform: uppercase;
    padding-left: 50px;
    line-height: 1;
}

#section-intro .box-left h1::before {
    position: absolute;
    content: '';
    background-color: var(--color-hover-social);
    width: 34px;
    height: 6px;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}

#section-intro .box-right p {
    font-size: 23px;
    font-family: var(--font-montserrat);
    font-weight: 400;
    color: var(--color-text-title);
    line-height: 1.75;
    margin-bottom: 40px;
}

/* service */
#section-service-patients {
    padding: 4.271vw 0 0; /*82px 0 0*/
    background-image: url('../images/bg-service-section.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#section-service-patients .section_wrapper {
    max-width: 100%;
    padding: 0 var(--pd-right-container) 0 var(--pd-left-container);

}

.service-wrap .box-title {
    position: relative;
    z-index: -1;
}

.service-wrap h1 {
    font-size: 9.737vw; /*186.95px*/
    font-family: var(--font-montserrat);
    font-weight: 700;
    color: var(--color-hover-social);
    opacity: 0.3;
    line-height: 1;
    text-transform: uppercase;
    display: block;
    margin-left: 8px;
    text-align: right;
    width: 100%;
    height: 9.737vw; /*186.95px*/
}

.service-wrap .box-wrap-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -10.156vw; /*-195px*/
}

.service-wrap .box-wrap-service > div {
    width: 50%;
}

.service-wrap .box-wrap-service .box-1 {
    padding-right: 2.448vw; /*47px*/
}

.service-wrap .box-wrap-service .box-2 {
    padding-top: 11.094vw; /*213px*/
    padding-left: 2.448vw; /*47px*/
}

.service-wrap .box-service h6 {
    font-family: var(--font-montserrat);
    color: #313338;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}

.service-wrap .box-wrap-service .box-desc {
    margin-top: 2.708vw; /*52px*/
    padding: 0 calc((100% - (var(--container)))/2) ;
    width: 100%;
}

.service-wrap .box-desc p.first {
    font-family: var(--font-lobster);
    font-weight: 400;
    font-size: 35px;
    line-height: 1.45;
    color: var(--color-hover-social);
    width: 75%;
    margin-bottom: 25px;
}

.service-wrap .box-desc p.last {
    font-size: 23px;
    font-family: var(--font-montserrat);
    font-weight: 400;
    color: #313338;
    line-height: 1.7;
    padding-left: 205px;
}

/* section-patients */
#section-patients {
    padding: 4.427vw 0 13.646vw; /*85px 0 262px*/
}

#section-patients .section_wrapper {
    max-width: 100%;
    padding: 0 var(--pd-right-container) 0 var(--pd-left-container);
}

.patients-wrap .box-patients {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: -15px -17px;
}

.patients-wrap .box-patients .item {
    padding: 0 15px;
    margin: 15px 0 !important;
}

.patients-wrap .box-patients .item-1 {
    width: 27.5%;
}

.patients-wrap .box-patients .item-2 {
    width: 45%;
}

.patients-wrap .box-patients .item-3 {
    width: 27.5%;
}

.patients-wrap .box-patients .item-4 {
    padding-left: 5.573vw !important; /*107*/
    width: 38.8%;
}

.patients-wrap .box-patients .item-5 {
    width: 45%;
}

.patients-wrap .box-patients img {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
}

.patients-wrap .box-content {
    padding: 0 calc((100% - (var(--container)))/2);
    margin-top: 73px;
    text-align: center;
}

.patients-wrap .box-content h2 {
    font-size: 50px;
    font-family: var(--font-lobster);
    font-weight: 400;
    line-height: 1;
    background: linear-gradient(90deg, rgba(67,185,235,1) 0%, rgba(67,185,235,1) 50%, rgba(151,133,227,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 41px;
}

.patients-wrap .box-content p {
    font-size: 23px;
    font-family: var(--font-montserrat);
    font-weight: 400;
    line-height: 1.7;
    color: #313338;
    margin-bottom: 22px;
}

.patients-wrap .box-content p:first-child {
    margin-bottom: 22px;
}

/* section special footer */
#section-special {
    background-image: url('../images/bg-special-section.jpg');
}

#section-special .special-top-row {
    display: flex;
    margin: -8.594vw -48px 0; /*-165px -48px 0*/
}

#section-special .special-top-row > div {
    width: 50%;
    margin: 0 48px;
}

#section-special .col-patient-wrap {
    background-image: url('../images/bg-new-patient-contact.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 38px;
    border-radius: 0 55px 0 0;
}

#section-special .col-patient-item {
    background-color: #313338;
    padding: 50px 40px 55px;
    border-radius: 0 15px 0 0;
}

#section-special .col-patient-wrap .row-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 34px;
    margin-bottom: 28px;
    border-bottom: 1px var(--color-hover-social) solid;
}

#section-special .col-patient-wrap .row-title::after {
    position: absolute;
    content: '';
    background-color: #313338;
    width: 10px;
    height: 2px;
    bottom: -2px;
    right: 31%;
    z-index: 111;
}

#section-special .col-patient-wrap .title-left h4,
#section-special .col-patient-wrap .col-content h2 {
    font-size: 30px;
    font-family: var(--font-montserrat);
    font-weight: 700;
    color: var(--color-text-title);
    line-height: 1;
    text-transform: uppercase;
}

#section-special .col-patient-wrap .title-left h4 {
    margin-bottom: 13px;
}

#section-special .col-patient-wrap .title-left p,
#section-special .col-patient-wrap .col-content p {
    font-size: 25px;
    font-family: var(--font-montserrat);
    font-weight: 400;
    color: var(--color-text-title);
    line-height: 1;
}

#section-special .col-patient-wrap .title-right h2 {
    font-size: 72px;
    font-family: var(--font-montserrat);
    font-weight: 700;
    color: var(--color-text-title);
    line-height: 1;
    margin-top: -5px;
}

#section-special .col-patient-wrap .col-content h2 {
    margin-bottom: 15px;
}

#section-special .col-patient-wrap .col-content p {
    position: relative;
    padding-left: 18px;
    margin-bottom: 5px;
    line-height: 1.4;
}

#section-special .col-patient-wrap .col-content p::before {
    position: absolute;
    content: '';
    background-color: var(--color-text-title);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 15px;
    left: 4px;
}

#section-special .special-top-row .col-booking-wrap {
    background-color: var(--color-text-title);
    border-radius: 55px 0 0 0;
    overflow: hidden;
    padding: 55px 63px;
}

#section-special .special-top-row .col-booking-wrap .wrap-title h2 {
    font-size: 32px;
    font-family: var(--font-montserrat);
    font-weight: 700;
    color: #313338;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 30px !important;
}

#section-special .bookingform .booking-row {
    margin-bottom: 28px !important;
}

#section-special span.wpcf7-form-control-wrap {
    width: 100%;
    position: relative!important;
    display: inline-block;
    
}

#section-special .bookingform .booking-row input,
#section-special .bookingform .booking-row textarea {
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid #313338;
    box-shadow: none;
    padding: 8px 0 !important;
}

#section-special .bookingform .booking-row textarea {
    width: 100% !important;
    height: 163px !important;
}

#section-special .bookingform .booking-row input,
#section-special .bookingform .booking-row textarea::placeholder,
#section-special .bookingform .booking-row input::placeholder {
    color: #313338 !important;
    font-family: var(--font-montserrat) !important;
    font-size: 22px;
    font-weight: 400;
}

#section-special .bookingform .booking-row-date #datepicker {
    background-image: url('../images/icon-date.png');
    background-repeat: no-repeat;
    background-size: 33px 32px;
    background-position: 99% 0%;
}

#section-special .submit-btn {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#section-special .booking-btn {
    font-size: 22px !important;
    color: #fff !important;
    font-family: var(--font-montserrat) !important;
    font-weight: 700;
    background: linear-gradient(90deg, rgba(67,185,235,1) 0%, rgba(67,185,235,1) 50%, rgba(151,133,227,1) 100%);
    text-transform: uppercase;
    display: flex !important;
    align-items: center;
    justify-content: center;
    transition: all 0.3s !important;
    text-decoration: none !important;
    line-height: 1;
    width: 205px;
    height: 72px;
    margin: 0 auto !important;
}

#section-special .booking-btn:hover {
    background: linear-gradient(90deg, rgba(49,51,56,1) 0%, rgba(49,51,56,1) 100%, rgba(0,212,255,1) 100%) !important;
}

#section-special .bookingform .wpcf7-spinner {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

#section-special .special-bottom-row {
    padding: 4.531vw 0; /*87px 0*/
}

#section-special .special-bottom-row h3 {
    position: relative;
    font-size: 35px;
    font-family: var(--font-montserrat);
    font-weight: 700;
    color: var(--color-hover-social);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
}

#section-special .special-bottom-row h3::before,
#section-special .special-bottom-row h3::after {
    position: absolute;
    content: '';
    background-color: var(--color-hover-social);
    width: 33%;
    height: 1px;
    bottom: 8px;
}

#section-special .special-bottom-row h3::before {
    left: 0;
}

#section-special .special-bottom-row h3::after {
    right: 0;
}

#section-special .special-bottom-row .info-wrap {
    display: flex;
    flex-wrap: wrap;
}

#section-special .special-bottom-row .info-wrap .col-item {
    width: calc(100% / 3);
}

#section-special .special-bottom-row .info-wrap .col-item:not(.item-center) {
    margin-top: 13px;
}

#section-special .special-bottom-row .info-wrap .col-item p {
    font-size: 19px;
    font-family: var(--font-montserrat);
    font-weight: 400;
    color: var(--color-text-title);
    line-height: 1;
    margin-bottom: 15px;
}

#section-special .special-bottom-row .info-wrap .col-item p a {
    color: var(--color-text-title);
    transition: all 0.3s;
}

#section-special .special-bottom-row .info-wrap .item-left p:first-child {
    font-weight: 600;
}

#section-special .special-bottom-row .info-wrap .item-center {
    text-align: center;
}

#section-special .special-bottom-row .info-wrap .item-center .name-dr {
    font-weight: 700;
    font-size: 23px;
}

#section-special .special-bottom-row .info-wrap .item-center .phone {
    font-weight: 700;
    font-size: 35px;
}

#section-special .special-bottom-row .info-wrap .item-center .note {
    font-size: 17px;
}

#section-special .special-bottom-row .info-wrap .item-center .phone a:hover,
#section-special .special-bottom-row .info-wrap .item-right .email a:hover,
#section-special .special-bottom-row .info-wrap .item-right .address a:hover {
    color: var(--color-hover-social);
}

/* Footer */
#Footer {
    background-color:var(--color-text-title) !important;
}

#Footer .footer_copy {
    border: none;
}

#Footer .footer_copy .column.one {
    padding: 32px 0;
}

.footer-copy-center #Footer .footer_copy .copyright {
    margin: 0;
}

#Footer .footer_copy .wrap-footer p {
    font-size: 20px;
    font-family: var(--font-montserrat);
    color: #313338;
    font-weight: 400;
    line-height: 1;
}

#Footer .footer_copy .wrap-footer p a {
    font-weight: 700;
    transition: all 0.3s;
    color: #313338;
}
#Footer .footer_copy .wrap-footer p a:hover {
    color: var(--color-hover-social);
}

@media (max-width: 1367.5px) {
    body {
        --pd-left-container: 30px;
        --pd-right-container: 30px;
    }

    /* INTRO */
    #section-intro {
        padding: 90px 0;
    }

    /* SERVICES */
    .service-wrap .box-wrap-service .box-1 {
        padding-right: 15px;
    }

    .service-wrap .box-wrap-service .box-2 {
        padding-left: 15px;
    }

    /* PATIENTS */
    .patients-wrap .box-patients .item {
        padding: 0 10px;
        margin: 10px 0 !important;
    }

    #Footer .footer_copy .wrap-footer p {
        font-size: 18px;
    }
}

@media (max-width: 1239.5px) {
    body {
        --container: 930px
    }

    #Top_bar {
        padding: 10px 0 !important;
    }

    body #Top_bar.is-sticky {
        position: fixed;
    }

    #Top_bar.is-sticky #logo {
        height: 60px !important;
        line-height: 60px !important;
    }
    
    #Top_bar .menu {
        margin-right: -1.211vw;
    }

    #Top_bar .menu > li > a:after {
        display: none;
    }

    #Top_bar .menu > li > a {
        font-size: 18px;
    }

    #Top_bar .menu > li > a span:not(.description) {
        padding: 0 22px;
    }

    #menu-main-menu > .menu-item > a::before {
        width: 55px !important;
        height: 55px !important;
    }

    /* INTRO */
    #section-intro .box-right {
        margin-top: -8px;
    }

    /* SERVICES */
    .service-wrap .box-service h6 {
        font-size: 20px;
        margin-top: 20px;
    }

    .patients-wrap .box-content {
        margin-top: 60px;
    }

    .patients-wrap .box-content h2 {
        font-size: 40px;
        margin-bottom: 30px;
    }
    
    #section-intro .box-right p,
    .service-wrap .box-desc p.last,
    .patients-wrap .box-content p {
        font-size: 20px;
    }

    .patients-wrap .box-content p {
        margin-bottom: 15px;
    }

    .service-wrap .box-desc p.first {
        font-size: 32px;
    }

    #section-special .special-top-row {
        margin: -8.594vw -30px 0;
    }

    #section-special .special-top-row > div {
        margin: 0 30px;
    }

    #section-special .col-patient-wrap {
        padding: 30px;
        border-radius: 0 45px 0 0;
    }

    #section-special .col-patient-item {
        padding: 40px 30px 45px;
    }

    #section-special .col-patient-wrap .row-title {
        padding-bottom: 30px;
        margin-bottom: 25px;
    }

    #section-special .col-patient-wrap .title-left h4,
    #section-special .col-patient-wrap .col-content h2 {
        font-size: 22px;
    }

    #section-special .col-patient-wrap .title-left h4 {
        margin-bottom: 5px;
    }

    #section-special .col-patient-wrap .title-left p,
    #section-special .col-patient-wrap .col-content p {
        font-size: 20px;
    }

    #section-special .col-patient-wrap .title-right h2 {
        font-size: 50px;
    }

    #section-special .special-top-row .col-booking-wrap {
        border-radius: 45px 0 0 0;
        padding: 50px 50px;
    }

    #section-special .special-top-row .col-booking-wrap .wrap-title h2 {
        font-size: 25px;
        margin-bottom: 25px !important;
    }

    #section-special .bookingform .booking-row input,
    #section-special .bookingform .booking-row textarea::placeholder,
    #section-special .bookingform .booking-row input::placeholder {
        font-size: 16px;
    }

    #section-special .bookingform .booking-row-date #datepicker {
        background-size: 24px 23px;
    }

    #section-special .bookingform .booking-row textarea {
        height: 100px !important;
    }

    #section-special .booking-btn {
        font-size: 16px !important;
        width: 160px;
        height: 47px;
    }

    #section-special .special-bottom-row h3 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    #section-special .special-bottom-row .info-wrap .col-item p,
    #section-special .special-bottom-row .info-wrap .item-center .note {
        font-size: 14px;
    }

    #section-special .special-bottom-row .info-wrap .item-center .name-dr {
        font-size: 20px;
        margin-bottom: 10px;
    }

    #section-special .special-bottom-row .info-wrap .item-center .phone {
        font-size: 30px;
        margin-bottom: 10px;
    }

    #Footer .footer_copy .column.one {
        padding: 20px 0;
    }
}

@media (min-width: 992px) {
    body:not(.header-simple) #Top_bar #menu {
        display: block !important;
    }

    #Top_bar a.responsive-menu-toggle {
        display: none !important;
    }
}


@media (max-width: 991.5px) {
    body {
        --container: 700px
    }

    body:not(.header-simple) #Top_bar #menu {
        display: none !important;
    }

    #Top_bar a.responsive-menu-toggle {
        display: block !important;
    }

    html .mobile-header-mini #Top_bar a.responsive-menu-toggle {
        width: 166px;
        height: 29px;
        top: 50%!important;
        right: 0!important;
        transform: translateY(-50%);
        margin: 0px!important;
        background-image: url('../images/toggle-menu.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 0;
    }

    html .mobile-header-mini #Top_bar a.responsive-menu-toggle i {
        display: none;
    }

    #Side_slide #menu-main-menu > .menu-item > a::before {
        display: none;
    }

    /* BANNER */
    .banner-item .banner-content h4 {
        font-size: 65px;
        margin-bottom: 30px;
    }

    .banner-item .banner-content h5 {
        font-size: 25px;
    }

    /* INTRO */
    #section-intro .section_wrapper {
        max-width: var(--container) !important;
        padding: 0 !important;
    }

    #section-intro .intro-wrap {
        flex-wrap: wrap;
    }

    #section-intro > div {
        width: 100% !important;
    }

    #section-intro .box-left h1 {
        margin-bottom: 35px !important;
    }

    #section-intro .box-right {
        width: 100%;
        margin-top: 0;
    }

    #section-intro .box-right p,
    .service-wrap .box-desc p.last,
    .patients-wrap .box-content p {
        font-size: 18px;
    }

    /* SERVICES */
    #section-service-patients {
        padding: 20px 0 0;
    }
    #section-service-patients .section_wrapper {
        padding: 0;
        max-width: 100% !important;
    }

    #section-service-patients #section-service,
    #section-service-patients #section-patients {
        padding-left: calc((100% - (var(--container)))/2);
        padding-right: calc((100% - (var(--container)))/2);
    }

    .service-wrap .box-wrap-service {
        margin-top: 20px;
    }

    .service-wrap .box-wrap-service > div {
        width: 100% ;
        padding: 0 !important;
        margin-bottom: 50px;
    }

    .service-wrap .box-wrap-service .box-desc {
        margin-top: -5px;
    }

    .service-wrap h1 {
        text-align: center;
        font-size: 10.091vw; /*100px*/
        height: 10.091vw; /*100px*/
        margin: 0;
    }

    .service-wrap .box-service h6 {
        font-size: 23px;
        margin-top: 15px;
    }

    .service-wrap .box-desc p {
        width: 100% !important;
    }

    .service-wrap .box-desc p.first {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .service-wrap .box-desc p.last {
        padding-left: 8.073vw; /*80px*/
    }

    .patients-wrap .box-patients {
        margin: -15px 0;
    }
    
    .patients-wrap .box-patients .item {
        margin: 10px 0 !important;
        padding: 0 !important;
    }

    .patients-wrap .box-patients .item-1 {
        width: 65%;
    }

    .patients-wrap .box-patients .item-2 {
        width: 100%;
        margin-left: 70px !important;
        margin-right: -33.5px !important;
    }

    .patients-wrap .box-patients .item-3 {
        width: 100%;
        margin-right: 70px !important;
        margin-left: 140px !important;
    }

    .patients-wrap .box-patients .item-4 {
        width: 100%;
        margin-left: 70px;
    }

    .patients-wrap .box-patients .item-5 {
        width: 100%;
        margin-left: 70px !important;
        margin-right: -33.5px !important;
    }

    /* FOOTER CONTACT */
    #section-special .special-top-row {
        flex-wrap: wrap;
    }

    #section-special .special-top-row > div {
        width: 100%;
    }

    #section-special .col-patient-wrap {
        margin-bottom: 50px !important;
    }

    #section-special .special-top-row .col-booking-wrap {
        border-radius: 0;
    }

    /* ----- */
    #section-special .special-bottom-row {
        padding: 80px 0;
    }

    #section-special .special-bottom-row .info-wrap {
        text-align: center;
    }

    #section-special .special-bottom-row h3::before,
    #section-special .special-bottom-row h3::after {
        display: none;
    }

    #section-special .special-bottom-row .info-wrap .col-item {
        position: relative;
        width: 100%;
        margin-bottom: 45px;
    }

    #section-special .special-bottom-row .info-wrap .col-item:not(.item-right)::after {
        position: absolute;
        content: '';
        background-color: var(--color-hover-social);
        width: 25%;
        height: 1px;
        bottom: -32%;
        left: 50%;
        transform: translate(-50%, -13%);
    }

    #section-special .special-bottom-row .info-wrap .item-left {
        margin-top: 0 !important;
        order: 2;
    }

    #section-special .special-bottom-row .info-wrap .item-center {
        order: 1;
    }

    #section-special .special-bottom-row .info-wrap .item-right {
        margin-top: 0 !important;
        order: 3;
    }

    /* FOOTER */

    #Footer .footer_copy .wrap-footer p {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

@media (max-width: 767.5px) {
    body {
        --container: 550px;
    }

    #Top_bar {
        background-color: transparent !important;
        position: fixed;
        opacity: 1;
        z-index: 999;
        top: 0 !important;
    }

    #Top_bar.is-sticky {
        background-color: #3a4146 !important;
    }

    .mobile-header-mini #Top_bar #logo {
        height: 80px !important;
        line-height: 80px !important;
    }

    .logo-no-sticky-padding.mobile-sticky #Top_bar.is-sticky #logo {
        height: 65px !important;
        line-height: 65px !important;
        margin-bottom: -12px !important;
    }

    html .mobile-header-mini #Top_bar a.responsive-menu-toggle {
        width: 140px;
        height: 25px;
        right: 30px !important;
        top: 40% !important;
    }

    html .mobile-header-mini #Top_bar.is-sticky a.responsive-menu-toggle {
        top: 50% !important;
    }

    /* BANNER */

    .banner-item .banner-content {
        top: 70%;
    }
    
    .banner-item .banner-content h4 {
        font-size: 8.475vw; /*65px*/
        margin-bottom: 5.215vw; /*40px*/
    }

    .banner-item .banner-content h5 {
        font-size: 4.302vw; /*33px*/
    }

    #Footer {
        margin-bottom: 65px !important;
    }

    /* .fixed-socials ul li.phone-icon:hover img {
        filter: url('assets/images/phone-icon-hover-mob.png');
    }

    .fixed-socials ul li.fb-icon:hover img {
        filter: url('assets/images/fb-icon-hover-mob.png');
    }

    .fixed-socials ul li.yelp-icon:hover img {
        filter: url('assets/images/yelp-icon-hover-mob.png');
    }

    .fixed-socials ul li.ig-icon:hover img {
        filter: url('assets/images/ig-icon-hover-mob.png');
    }

    .fixed-socials ul li.gg-icon:hover img {
        filter: url('assets/images/gg-icon-hover-mob.png');
    } */
}

@media (max-width: 599.5px) {
    body {
        --container: calc(100% - 60px);
    }

    #Top_bar {
        padding: 15px 0 !important;
    }

    #Top_bar.is-sticky {
        padding: 5px 0 !important;
    }

    .logo-no-sticky-padding.mobile-sticky #Top_bar.is-sticky #logo {
        margin-bottom: -23px !important;
    }

    html .mobile-header-mini #Top_bar a.responsive-menu-toggle {
        width: 85px;
        height: 17px;
        right: 19px !important;
        top: 25% !important;
    }

    body .section_wrapper,
    body .container,
    body .four.columns .widget-area {
        padding-left: 30px !important;
        padding-right: 30px !important;
    } 

    /* BANNER */
    .banner-item {
        background-image: url('../images/banner-mob.jpg') !important;
    }

    .banner-item .banner-img img.desk {
        display: none;
    }

    .banner-item .banner-img img.mob {
        display: block;
        width: 100%;
        opacity: 1;
    }

    #section-intro {
        padding: 10.351vw 0; /*62px*/
    }

    #section-intro .section_wrapper {
        max-width: var(--container);
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #section-intro .box-left h1 {
        font-size: 3.254vw; /*19.39px (13.49px + 6px)*/
        padding-left: 6.01vw; /*36px*/
        margin-bottom: 5.008vw !important; /*30px*/
    }

    #section-intro .box-left h1::before {
        width: 4.674vw; /*28px*/
        height: 0.668vw; /*4px*/
    }

    #section-intro .box-right {
        padding-right: 0;
    }

    #section-intro .box-right p,
    .service-wrap .box-desc p.last,
    .patients-wrap .box-content p {
        font-size: 3.254vw; /*19.39px (13.49px + 6px)*/
        line-height: 1.8;
    }

    #section-intro .box-right p {
        margin-bottom: 5.843vw; /*35px*/
    }

    /* SERVICES */
    #section-service-patients {
        padding: 20px 0 44.240vw; /*20px 0 265px*/
    }

    #section-service-patients #section-service,
    #section-service-patients #section-patients {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .service-wrap h1 {
        font-size: 19.699vw; /*118px*/
        height: 18.698vw; /*112px*/
        margin: 0 -32px;
    }

    .service-wrap .box-wrap-service > div {
        margin-bottom: 8.18vw; /*49px*/
    }

    .service-wrap .box-service h6 {
        font-size: 3.840vw; /*23px*/
        margin-top: 14px;
    } 

    .service-wrap .box-wrap-service .box-desc {
        margin-top: 4px;
    }

    .service-wrap .box-desc p.first {
        font-size: 4.591vw; /*27.5px*/
        margin-bottom: 2.671vw; /*16px*/
    }

    .service-wrap .box-desc p.last {
        padding-left: 8.848vw; /*53px*/
    }

    #section-patients {
        padding: 10.851vw 0 0 0; /*65px 0 0 0*/
    }

    .patients-wrap .box-patients {
        margin: -7px 0;
    }

    .patients-wrap .box-patients .item {
        margin: 7px 0 !important;
    }

    .patients-wrap .box-patients .item-1 {
        width: 71%;
    }

    .patients-wrap .box-patients .item-2 {
        margin-left: 7.513vw !important; /*45px*/
        margin-right: -30px !important;
    }

    .patients-wrap .box-patients .item-3 {
        width: 71%;
        margin-left: 18.698vw !important;
    }

    .patients-wrap .box-patients .item-4 {
        width: 89%;
        margin-left: 10.017vw !important;
    }

    .patients-wrap .box-patients .item-5 {
        margin-right: -30px !important;
        width: 110%;
    }

    .patients-wrap .box-content {
        padding: 0;
        margin-top: 12.020vw; /*72px*/
    }

    .patients-wrap .box-content h2 {
        font-size: 6.511vw; /*39px*/
        margin-bottom: 4.674vw; /*38px*/
    }

    .patients-wrap .box-content p {
        margin-bottom: 3.339vw; /*20px*/
    } 

    #section-special .special-top-row {
        margin: -33.055vw -30px 0; /*198px -30px 0*/
    }

    #section-special .col-patient-wrap {
        padding: 25px;
        border-radius: 0 40px 0 0;
    }

    #section-special .col-patient-item {
        padding: 35px 25px 33px;
    }

    #section-special .col-patient-wrap {
        margin-bottom: 34px !important;
    }
    
    #section-special .col-patient-wrap .title-left h4, #section-special .col-patient-wrap .col-content h2 {
        font-size: 4.674vw; /*28px*/
    } 

    #section-special .col-patient-wrap .row-title {
        padding-bottom: 22px;
        margin-bottom: 18px;
    }

    #section-special .col-patient-wrap .title-left h4 {
        margin-bottom: 7px;
    }

    #section-special .col-patient-wrap .title-left p, #section-special .col-patient-wrap .col-content p {
        font-size: 4.007vw; /*24px*/
    }

    #section-special .col-patient-wrap .title-right h2 {
        font-size: 10.851vw; /*65px*/
        margin-top: -3px;
    }

    #section-special .col-patient-wrap .col-content h2 {
        margin-bottom: 10px;
    }

    #section-special .col-patient-wrap .col-content p {
        padding-left: 11px;
        margin-bottom: 3px;
    }

    #section-special .col-patient-wrap .col-content p::before {
        width: 4px;
        height: 4px;
        top: 10px;
        left: 0;
    }

    #section-special .special-top-row .col-booking-wrap {
        padding: 39px 40px;
    }

    #section-special .special-top-row .col-booking-wrap .wrap-title h2 {
        font-size: 4.975vw;
        margin-bottom: 25px;
    }

    #section-special .bookingform .booking-row {
        margin-bottom: 26px !important;
    }

    #section-special .bookingform .booking-row.booking-row-textarea {
        margin-bottom: 15px !important;
    }

    #section-special .bookingform .booking-row input, #section-special .bookingform .booking-row textarea {
        padding: 2px 0 !important;
    }

    #section-special .bookingform .booking-row input,
    #section-special .bookingform .booking-row textarea::placeholder,
    #section-special .bookingform .booking-row input::placeholder {
        font-size: 3.339vw; /*20px*/
    }

    #section-special .bookingform .booking-row-date #datepicker {
        background-size: 17px 17px;
    }

    #section-special .booking-btn {
        width: 130px;
    }

    #section-special .special-bottom-row {
        padding: 12.020vw 0; /*72px*/
    }

    #section-special .special-bottom-row h3 {
        font-size: 4.508vw; /*27px*/
        margin-bottom: 13px;
    }

    #section-special .special-bottom-row .info-wrap .col-item {
        margin-bottom: 32px;
    }

    #section-special .special-bottom-row .info-wrap .col-item:not(.item-right)::after {
        bottom: -27%;
        width: 27%;
    }

    #section-special .special-bottom-row .info-wrap .col-item p {
        font-size: 3.255vw;
        margin-bottom: 11px;
    }

    #section-special .special-bottom-row .info-wrap .item-center .name-dr {
        font-size: 3.339vw; /*20px*/
        margin-bottom: 7px;
    }

    #section-special .special-bottom-row .info-wrap .item-center .phone {
        font-size: 5.509vw; /*33px*/
        margin-bottom: 8px;
    }

    #section-special .special-bottom-row .info-wrap .item-center .note {
        font-size: 2.621vw; /*15.7px*/
    }

    /* FOOTER */
    #Footer .footer_copy .wrap-footer p {
        font-size: 2.938vw; /*17.6px*/
        margin-bottom: 4px;
    }
}

@media (max-width: 413.5px) {
    #section-intro .box-left h1 {
        font-size: 13.43px;
    }

    #section-intro .box-right p, .service-wrap .box-desc p.last, .patients-wrap .box-content p {
        font-size: 13.439px;
    }

    .patients-wrap .box-content h2 {
        font-size: 22.8px;
    }

    #section-special .col-patient-wrap .title-left h4, #section-special .col-patient-wrap .col-content h2 {
        font-size: 15.304px;
    }

    #section-special .special-top-row .col-booking-wrap .wrap-title h2 {
        font-size: 16.5px;
    }

    #section-special .booking-btn {
        font-size: 14px !important;
        width: 150px;
        height: 40px;
    }

    #section-special .special-bottom-row h3 {
        font-size: 18.6px;
    }

    #section-special .special-bottom-row .info-wrap .item-center .name-dr {
        font-size: 13.79px;
    }

    #section-special .special-bottom-row .info-wrap .item-center .note {
        font-size: 11.825px;
    }

    #section-special .special-bottom-row .info-wrap .col-item p {
        font-size: 13.319px;
    }

    #Footer .footer_copy .wrap-footer p {
        font-size: 13.134px;
        margin-bottom: 0px;
        line-height: 1.5;
    }
}



