* {
    box-sizing: border-box;
}

*:last-child {
    margin-bottom: 0px!important;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e6e6e6;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b7b7b7;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b7b7b7;
}

.no-wrap {
    white-space: nowrap;
}

.mcb-column-inner {
    margin: 0px !important;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1em;
    line-height: 1.2;
}

img,svg {
    display: block;
}

a {
    transition: all .3s;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

b, strong, dt{
    font-family: 'AvenirLTStd-Black';
    font-weight: 400;
}

.footer-copy-center #Footer .footer_copy #back_to_top, #back_to_top.footer_button.sticky {
    bottom: 25px !important;
    right: 10px !important;
    box-sizing: inherit !important;
    margin: 0px!important;
    position: fixed;
}

#back_to_top.footer_button.sticky:hover {
    background-color: var(--color-text-2) !important;
    color: var(--color-bg)!important;
}

body .fancybox__container button {
    background-color: var(--color-hover) !important;
    color: var(--color-text-2);
}

body .fancybox__container button:hover {
    background-color: var(--color-text-main) !important;
    color: var(--color-bg);
}

@media (max-width: 1367.5px) {
    #back_to_top.footer_button.sticky {
        transform: scale(0.9);
    }
}

/*#back_to_top.footer_button.sticky .icon-up-open-big {
    color: #fff;
}*/

#Side_slide #menu ul li a{
    margin-right: 0px!important;
}

/*Loadding Page*/
.kenw-loadding{
    background: var(--color-bg);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    transition: all 0.3s;
}

.loadding-gif{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loadding-gif img{
    width: 200px;
    height: auto;
    animation: zoom 1.5s infinite;
    display: block;
}

@keyframes zoom {
  0% {transform: scale(1);}
  50% {transform: scale(1.3)}
  100% {transform: scale(1)}
}

@media (max-width: 767.5px) {
    .loadding-gif img{
        width: 100px;
    }
}

.fixed-socials {
/*    display: none;*/
    position: fixed;
    right: 0px;
    top: 48%;
    z-index: 99;
    transform: translateY(-50%);
    transition: all 0.3s;
}

.fixed-socials ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: safe center;
    align-items: flex-end;
}

.fixed-socials ul li {
    margin-bottom: 8px;
}

.fixed-socials ul li a{
    width: 61px;
    height: 61px;
    background-image: url('../images/bg-socials-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--color-hover-social);
    border-radius: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    transition: all 0.3s;
}

.fixed-socials ul li a img, .fixed-socials ul li a svg {
    display: block;
}

.fixed-socials ul li a:hover {
    background-color: var(--color-hover-social);
    background-image: unset;
}

.fixed-socials ul li a svg path {
    transition: all 0.3s;
}

.fixed-socials ul li a:hover svg path {
    fill: var(--color-bg);
}   

@media (max-width: 767.5px){
    .fixed-socials {
       /* display: block;*/
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--color-bg);
        top: auto;
        padding: 0px 0px;
        transform: none;
        box-shadow: 0 0 10px 2px rgb(0 0 0 / 50%);
    }

    .fixed-socials ul {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .fixed-socials ul li {
        margin-bottom: 0px;
        width: 25%;
        position: relative;
        padding: 5px 0;
    }

    .fixed-socials ul li::before {
        content: '';
        width: 2px;
        height: 33px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(100%, -50%);
        background: var(--color-hover);
        transition: all 0.3s;
    }

    .fixed-socials ul li a:hover svg path{
        fill: var(--color-hover);
    }

    .fixed-socials ul li a {
        width: 35px !important;
        height: 35px;
        position: relative;
        background: none;
        margin: 0 auto;
    }

    .fixed-socials ul li a:hover {
        background-color: transparent;
    }

    .fixed-socials ul li a::before,
    .fixed-socials ul li a::after {
        display: none;
    }

    .fixed-socials ul li a img, .fixed-socials ul li a svg {
        max-width: 100%;
        max-height: 100%;
    }
}

/*Disable Rcaptcha*/
.grecaptcha-badge{
    display: none!important;
}

/*Home Style*/

body {
    --color-text-title: #fff;
    --color-bg: #fff;
    --color-hover-social: #56cbfd;
    --container: 1190px;
    --font-lobster: 'Lobster';
    --font-montserrat: 'Montserrat';
    --pd-left-container: 72px;
    --pd-right-container: 72px;
    --pd-space-container: calc(100% - (var(--container))/2)
}

body.mobile-side-slide{
    left: 0!important;
    overflow-x: hidden;
}


@media(max-width: 1699.5px){
    body{
        --header-contaner: 1380px;
        --header-w: 770px;
    }
}

@media(max-width: 1439.5px){
    body{
        --container: 1300px;
        --header-contaner: var(--container);
        --header-w: 720px;
    }
}

@media(max-width: 1367.5px){
    body {
        --container: 1190px;
    }

    .section_wrapper, .container {
        max-width: var( --container)!important;
    }
}

@media only screen and (max-width: 1239.5px){
    body {
        --container: 940px;
    }
}

@media only screen and (max-width: 991.5px){
    body {
        --container: 700px;
    }
}

@media only screen and (max-width: 767.5px){
    body {
        --container: 550px;
    }

    .content_wrapper .section_wrapper, .container, .four.columns .widget-area{
        padding-left: 0px!important;
        padding-right: 0px!important;
        width: calc(100% - 60px);
    }
}

@media only screen and (max-width: 590.5px){
    body {
        --container: calc(100% - 60px);
        font-size: 15.11px!important;
        line-height: 21.59px!important;
    }
}

@media only screen and (max-width: 413.5px){
    body {
        --container: calc(100% - 30px);
        font-size: 14.11px!important;
        line-height: 20.59px!important;
    }

    .content_wrapper .section_wrapper, .container, .four.columns .widget-area{
        width: calc(100% - 30px);
    }
}

#Header .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%!important;
    max-width: 100% !important;
    padding-left: var(--pd-left-container) !important;
    padding-right: var(--pd-right-container) !important;
}

#Header {
    padding-top: 0px;
}

#Top_bar {
    padding: 30px 0;
}

#Top_bar .column {
    align-items: center;
    width: 100%;
    margin: 0 !important;
} 

#Top_bar .top_bar_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
}

#Top_bar .top_bar_left #menu{
    background: transparent;
}

.ab-show #Top_bar {
    top: 0px!important;
}

body #Top_bar.is-sticky{
    top: 0px!important;
    height: auto;
    opacity: 1;
    z-index: 1;
}

#Top_bar .top_bar_left::after,
#Top_bar .top_bar_left::before {
    display: none;
}

#Top_bar #logo {
    height: 81px !important;
    line-height: 1 !important;
}

#Top_bar .menu {
    display: flex;
    align-items: center;
    margin-right: -32px;
    transition: all 0.3s;
}

#Top_bar .menu > li > a {
    position: relative;
    font-size: 22px;
    line-height: 1;
    font-family: var(--font-montserrat);
    color: var(--color-text-title) !important;
    padding: 15px 0;
    margin-top: -8px;
}

#Top_bar .menu > li > a.menu-toggle {
    padding: 0 !important;
    margin-top: 0 !important;
}

#menu-main-menu > .menu-item > a::before {
    position: absolute;
    content: '';
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: #57c9fb;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
}

#menu-main-menu > .menu-item > a:hover:before,
#menu-main-menu > .menu-item.current-menu-item > a:before,
#menu-main-menu > .menu-item.current-menu-ancestor > a:before {
    opacity: 0.2;
    visibility: visible;
}


#Top_bar .menu > li > a span:not(.description) {
    padding: 0 30px;
    line-height: 1!important;
    border: none;
    transition: all 0.3s;
}

/* general */
.one.column {
    width: 100%;
    margin: 0;
}

.section_wrapper, .container {
    max-width: var(--container);
}

/* banner */
.banner-item {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.banner-item .banner-content {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -56%);
    width: 100%;
    text-align: center;
}

.banner-item .banner-content h4 {
    color: var(--color-text-title);
    font-size: 80px;
    font-family: var(--font-lobster);
    font-weight: 400;
    text-transform:  inherit;
    line-height: 1;
    margin-bottom: 42px;
}

.banner-item .banner-content h5 {
    font-size: 33px;
    font-family: var(--font-montserrat);
    color: var(--color-text-title);
    font-weight: 600;
    line-height: 1;
}

.banner-item .banner-img img {
    opacity: 0;
}
/* Introduce */
#section-intro {
    background-image: url('../images/bg-intro.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 0;
}

#section-intro .section_wrapper {
    max-width: 100% !important;
    padding-left: var(--pd-left-container);
    padding-right: var(--pd-right-container);
}

#section-intro .intro-wrap {
    display: flex;

}

#section-intro .box-left {
    width: 26.5%;
}

#section-intro .box-right {
    width: 74%;
    padding-right: calc((100% - (var(--container)))/2);
    margin-top: -12px;
}

#section-intro .box-left h1 {
    position: relative;
    font-size: 23px;
    font-family: var(--font-montserrat);
    font-weight: 400;
    color: var(--color-hover-social);
    text-transform: uppercase;
    padding-left: 50px;
    line-height: 1;
}

#section-intro .box-left h1::before {
    position: absolute;
    content: '';
    background-color: var(--color-hover-social);
    width: 34px;
    height: 6px;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}

#section-intro .box-right p {
    font-size: 23px;
    font-family: var(--font-montserrat);
    font-weight: 400;
    color: var(--color-text-title);
    line-height: 1.75;
    margin-bottom: 40px;
}